p{
    color: white;
    border: black;
}

.bouton {
    color: white;
    background-color: #ec9124;
    border-radius: 10%;
    font-weight: 150;
    height: auto; 
    padding: 12px 28px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ffffff;
}
.bouton:hover {
    background-color: #b95300; /* Green */
    color: rgb(0, 0, 0);
  }

body{
    background-color: #0f0e28;
}

.case{

    display: inline-block;
    height: 25px;
    width: 400px;
}

.textarea {

    display: block;
    height: 100px;
    width: 400px;
}

.texte-superpose {
    position: absolute;
    top: 50px; /* Texte position verticale */
    left: 50px; /* Texte position horizontal */
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille de la police  */
    font-weight: bold; /* Poids de la police du texte */
    /*background-color: rgba(0, 0, 0, 0.5);  Arrière-plan transparent texte */
    padding: 10px; /* Espace intérieur du texte */


}

.image {
    width: 1400px;
    height: 250px;
    margin: 1%;
    background-position: top center;
}


.image-container {
    position: relative;

}


