footer{
    background-color: rgba(14,11,38,255);
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}
h2{
    color: white;
}
.one span {
    
    color: rgba(172, 172, 172, 0.795);
}
.one{
    color: rgba(194,120,36,255);
}
ul {
    list-style: none;
}
ul li:before{
    color: rgba(194,120,36,255);
    margin-right: 10px;
}
ul li{
    color: rgb(143, 143, 143);
}

.listefooter::before {
    content: "■"; color: rgba(194,120,36,255);
    margin-right: 10%;
}
.tree{
    color: rgb(143, 143, 143)!important;
}