/*-------------------------------------------------------------------------------------------------------------------------------------

 NAVIGATION */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

 :root {
    --main-border-color: #0f0e28;
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    min-height: 100vh;
    /* background-size: cover; */
    /* background-position: center; */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #23d5ab, #18789f, #6b0d75, #c3219f);
    
    
    
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.write {
    font-size: 30px;
}


.logo{
    flex: 3;
    font-family: "Poppins";
    font-size: 20px;
    
}
.main-nav {
display: flex;
color: white;
padding: 1em;
font-family:"Poppins";
background-color:rgb(10, 0, 31);

padding-top: 2%;
}

.main-nav > ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
}
.main-nav li {
margin-right: 4em;
}
.main-nav > form {
display: flex;
justify-content: flex-end;
flex: 1;
}
.main-nav input {
flex: 1;
}


.main-nav ul {
 flex-direction: row; /* Change this to 'column' to stack the links */
 margin-bottom: 1em;
}

.navpoint {
    color: white;
    text-decoration: none;
}
.listefooter {
    color: grey;
}

/*---------------------------------------------------------------------------------------------------------------------------------------
BODY*/


.title-top{
    color: #ffffff;
    border: var(--main-border-color);
    font-family: "Poppins";
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
}


.image-top {
    background-image: url("img/villefuturiste.jpg") ;
    height: 10em;
    width: 87.2%;
    text-align: center;
    padding: 90px;
    font-family: sans-serif ;
    padding-top: 3%;
    margin-top: -5.1%;
    border: solid #ffffff 4px;
    border-right: none;
    
}

.page_MyAccount {

   background-color: rgba(16,14,46,255);

}


.block_MyAccount {

    /* background-color: white; */
    background-color: rgba(14,11,38,255);
    border-radius: 10px;
    margin: 41px;
    width: 94%;
    height: 580px;
    margin-top: 15%;
    border: solid white 4px;

}

.pp_block {

}

.pp_gohan {

    width: 280px;
    height: 280px;
    border: solid white 5px;
    border-radius: 100%;
    margin-left: 40.9%;
    position: absolute;
    margin-top: 81px;
}

.positionpseudo_MyAccount {

    padding-top: 12%;

}

.pseudo_MyAccount {

    display: flex;
    margin-left: 38.5%;
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    

}

.input_container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 35px;
}

.case {
    color: rgb(162, 155, 155);
    background-color: #2f2e54;
    border: 0;
    
    height: 35px;
    width: 100%;

}

.input_wrapper{
    background-color: #2f2e54;
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.suptitre_modifinfo {

  margin-top: 95px;


}

.titre_modifinfo{

  color: white;
  margin-left: 430px;
  margin-bottom: 35px;
  margin-top: 85px;

}

.input_icon {

    width: 25px;
    height: 25px;

}

.bouton_valider {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, #6b0d75 0%, #c3219f 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    border-radius: 10%;
    
  }
  .bouton_valider span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .bouton_valider:before,
  .bouton_valider:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(14,11,38,255);
    transition: all 0.3s ease;
  }
  .bouton_valider:before {
    height: 0%;
    width: 2px;
  }
  .bouton_valider:after {
    width: 0%;
    height: 2px;
  }
  .bouton_valider:hover{
     background: transparent;
    box-shadow: none;
  }
  .bouton_valider:hover:before {
    height: 100%;
  }
  .bouton_valider:hover:after {
    width: 100%;
  }
  .bouton_valider span:hover{
     color: #23d5ab;
  }
  .bouton_valider span:before,
  .bouton_valider span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: #23d5ab;
    transition: all 0.3s ease;
  }
  .bouton_valider span:before {
    width: 2px;
    height: 0%;
  }
  .bouton_valider span:after {
    width: 0%;
    height: 2px;
  }
  .bouton_valider span:hover:before {
    height: 100%;
  }
  .bouton_valider span:hover:after {
    width: 100%;
  }

  .txt-envoyer {

    color: white;

  }




/*---------------------------------------------------------------------------------------------------------------------------------------
FOOTER*/

footer{
    background-color: rgba(14,11,38,255);
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}
h2{
    color: white;
}
span{
    color: rgb(145, 145, 145);
}
.one{
    color: rgba(194,120,36,255);
    text-align: justify;
}
ul {
    list-style: none;
}
li::before {
    content: "■"; color: rgba(194,120,36,255);
}
ul li:before{
    color: rgba(194,120,36,255);
    margin-right: 10px;
}
ul li{
    color: rgb(143, 143, 143);
}
p{
    color: rgb(143, 143, 143);
}
