

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.write {
    font-size: 30px;
}


.logo{
    flex: 3;
    font-family: "Poppins";
    font-size: 20px;

}
.profil img{
    width: 67%;
    height: 37px;
    padding-right: 1em;
    margin-top: 35%;

}
.main-nav {
display: flex;
color: white;
font-family:"Poppins";
background-color:rgb(0, 0, 0,0.5);
padding-left:10px;
padding-top: 2%;
}

.main-nav > ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
}

.navigator {
    color: white;
    text-decoration: none;
}

.main-nav li {
margin-right: 4em;
}
.main-nav > form {
display: flex;
justify-content: flex-end;
flex: 1;
}
.main-nav input {
flex: 1;
}


.main-nav ul {
 flex-direction: row; /* Change this to 'column' to stack the links */
 margin-bottom: 1em;
}

.active {
    color: orange;
}